{% extends 'base.html.twig' %}

{% form_theme formArticle 'bootstrap_4_layout.html.twig' %}


{% block body %}

    <h1>Création d'un article</h1>

    {{ form_start(formArticle) }}

    {{ form_row(formArticle.title, {'attr': {'placeholder': "Nom du trick"}}) }}
    {{ form_row(formArticle.content, {'attr': {'placeholder': "Explique ton trick"}}) }}
    {{ form_row(formArticle.image, {'attr': {'palceholder': "Les photos de trick"}}) }}

    <button type="submit" class="btn btn-success">
        {%  if editMode %}
            Enregistrer les modifications
        {% else %}
        Ajoutes ton snowtrick</button>

        {% endif %}

    {{ form_end (formArticle) }}

{% endblock %}