{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
    <section class="articles">

        {% for article in article %}
             <article>
                <h2>{{ article.title }}</h2>
                <div class="metadata">écrit le {{ article.createdAt | date('d/m/y') }} à {{ article.createdAt | date('H:i')}} dans la catégorie Tricks</div>
                <div class="content"><img src="article.image" alt="">
                    {{ article.content | raw }}
                <a href="{{ path('site_show', {'id': article.id}) }}" class="btn btn-primary">Lire la suite</a></div>
             </article>
        {% endfor %}
    </section>
{% endblock %}
